@namespace OneStreamWebBlazor.Components.Components
@inherits XFComponentBase


<div class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
    <div class="@HeaderClassNames" style="@StyleNames" @attributes="@Attributes">@Title</div>
</div>

