@inherits XFComponentBase

<li class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
    <a class="@AnchorClassNames" @onclick="@ClickHandler">
        <i class="@IconClassNames"></i>
        <span class="pointer">@Title</span>
    </a>
</li>
