@namespace OneStreamWebBlazor.Components.Components
@inherits XFComponentBase
@typeparam TValue

<option class="@ClassNames" value="@StringValue" selected="@Selected" disabled="@Disabled" style="@StyleNames" @attributes="@Attributes">@ChildContent</option>
